
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-bottom: 2rem;
    color: #fff;
    font-size: 3.2rem;
}

.relogio{
    width: 30rem;
    height: 30rem;
    border: 0.5rem solid #fff;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
}

.riscos{
    width: 100%;
    height: 100%;
    padding-left: 50%;
    padding-top: 50%;
    margin-top: -0.3rem;
    background-color: royalblue;
}